/* 因為要讓它裡面還可以滑取，所以先用外面一個包起來 */
.goods{
    display: flex;
    position: absolute;
    top:240px;
    bottom:51px; 
    /* 放購物車的位置 */
    overflow: hidden;
    width: 100%;
}
.goods .menu-wrapper{
 flex:0 0 85px;
 /*  固定不放大  固定部縮小    固定85px   */
 /* 0默認不放大  1默認會縮小     */
 /* 必填         選填           選填 */
 background-color: whitesmoke;
}

.goods .menu-wrapper .menu-item{
    padding:10px 15px;
    border-bottom: 1px solid #e4e4e4;
    position: relative;

}
.goods .menu-wrapper .current{
    background-color: white;
    font-weight: bold;
}

.goods .menu-wrapper .menu-item .text{
    color: black;
    font-size: 13px;
    line-height: 18px;


    /* 多行省略方法 ，這樣是一套聯合技*/
    display: -webkit-box;
    /* 必寫 */
    -webkit-box-orient: vertical;
    /* 必寫，伸縮盒子後的排列方式 */
    -webkit-line-clamp:2;
    overflow: hidden;
 
}
.goods .menu-wrapper .menu-item .text .icon{
    width:15px;
    height:15px;
    vertical-align: middle;
}
.goods .menu-wrapper .menu-item .num{
	position:absolute;
	width:13px;
	height: 13px;
	border-radius: 50%;
	color: white;
	background-color: red;
right:5px;
top:5px;
text-align: center;
font-size: 7px;

}



.goods .foods-wrapper{
flex:1;
/* background-color: blue; */
}
/* 廣告圖片 */
.goods .foods-wrapper .container-list{
    padding:10px 10px 0 10px;
    border-bottom:1px solid whitesmoke ;
}
.goods .foods-wrapper .container-list img{
    width:100%;
    margin-bottom: 10px;
    border-radius: 5px;
}
.goods .foods-wrapper .food-list .title{
	height: 15px;
	font-size: 15px;
	margin:8px 0 10px 10px;
    border-left: 3px solid gold;
    padding-left: 5px;
}

.goods .foods-wrapper .food-list .food-item{
	display: flex;
	margin-bottom: 25px;
	position: relative;
}
.goods .foods-wrapper .food-list .food-item .cartcontrol-wrapper{
	position: absolute;
	top:0;
	bottom:0;
	right:0
}
.goods .foods-wrapper .food-list .food-item  .icon{
	flex: 0 0 63px;
    /*   固定 固定 63px  */
	background-position: center;
	background-size: 120% 100%;background-repeat: no-repeat;
	margin-right: 11px;
	height: 75px;
    /* 防止圖片變形 */
}
.goods .foods-wrapper .food-list .food-item .content{
	flex: 1;
    /* 隨大變化ˇ */
}
.goods .foods-wrapper .food-list .food-item .content .name{
	font-size: 16px;
	line-height: 21px;
	color: black;
	margin-bottom: 10px;
	padding-right: 27px;
}
.goods .foods-wrapper .food-list .food-item .content .desc{
	font-size: 15px;
	line-height: 15px;
	color: grey;
	margin-bottom: 8px;
	
	/* 省略號效果*/
	-webkit-line-clamp: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.goods .foods-wrapper .food-list .food-item .content .extra{
	font-size: 10px;
	color: grey;
	margin-bottom: 7px;
}
.goods .foods-wrapper .food-list .food-item .content .extra .saled{
	margin-right: 14px;
}
.goods .foods-wrapper .food-list .food-item .content .product{
	height: 15px;
	margin-bottom: 6px;
}
.goods .foods-wrapper .food-list .food-item .content .price{
	font-size: 0;
}
.goods .foods-wrapper .food-list .food-item .content .price .text{
	font-size: 14px;
	color: red;
}
.goods .foods-wrapper .food-list .food-item .content .price .unit{
	font-size: 12px;
	color: grey;
}
