.header{
    height:160px;
    padding-top:40px;
    /* 留給手機的上面消息欄位 */
}
.header .top-wrapper {
    position: relative;
}

.header .top-wrapper .back-wrapper {
    width: 50px;
    height: 31px;
    /*background: red;*/
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 31px;
}

.header .top-wrapper .back-wrapper span {
    display: inline-block;
    color: white;
}
/* span元素需要改為inline-block才可以使用到text-align跟line-height樣式
是因為iconmoon這個圖標庫他就是用span */

.header .top-wrapper .search-wrapper {
    width: 100%;
    height: 31px;
    /*background: purple;*/
    padding: 0 104px 0 50px;
    /* 透過padding來扣掉另外兩部分的距離*/
    box-sizing: border-box;
}
.header .top-wrapper .search-wrapper .search-bar {
    width: 100%;
    height: 31px;
    border: 0;
    /* 设置盒子从边框开始计算*/
    box-sizing: border-box;
    background: whitesmoke;
    border-radius: 25px;
    padding-left: 28px;
    /* 留空間放搜尋圖標 */
    /* 去除focus那個醜醜的籃框*/
    outline: none;
}
.header .top-wrapper .more-wrapper .spelling-bt {
    width: 30px;
    height: 17px;
    color: white;
    line-height: 17px;
    border: 1px solid white;
    text-align: center;
    float: left;
    text-decoration: none;
    font-size: 10px;
}
.header .top-wrapper .more-wrapper {
    /*width: 104px;*/
    width: 65px;
    /*height: 31px;*/
    height: 24px;
    /*background: blue;*/
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 15px 0 24px;
}
.header .top-wrapper .more-wrapper .more-bt {
    float: right;
    width: 20px;
    height: 24px;
    margin-left: 13px;
    margin-top: 6px;
}
.header .top-wrapper .more-wrapper .more-bt .little-circle {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    border: 1px solid white;
    display: block;
    /* block是區塊元素，記得要用float */
    float: left;
    margin-right: 1px;
}
.header .bg-wrapper {
    width: 130%;
    height: 200px;
    /* height: 150px; */
    position: absolute;
    left: -50px;
    top: 0;
    z-index: -1;
    background-size: 100% 135%;
    background-position: center -12px;
}
.header .content-wrapper{
    padding:35px 10px 11px;
    height:50px;
}
.header .content-wrapper >.icon{
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 5px;
    float:left;
}
.header .content-wrapper .name{
    float:left;
    padding:18px 0 0 12px;
}
.header .content-wrapper .name h3{
    font-size: 16px;
    font-weight: bold;
    color:white;
}
.header .content-wrapper .collect{
    height: 30px;
    width: 30px;
    float:right;
    text-align: center;
    padding-top: 10px;
}
.header .content-wrapper .collect img{
    width:20px;
    height: 20px; 
}
.header .content-wrapper .collect span{
    margin-top: 7px;
    color:white;
    font-size: 10px;
}
/* 公告內容部分 */
.bulletin-wrapper{
    height:16px;
    padding:10px 10px;
    background-color: rgba(240, 248, 255, 0.616);
    cursor: pointer;
}
.bulletin-wrapper .icon{
    width: 16px;
    height: 16px;
    float: left;
    background-size: 100% 100%;
    margin-right: 6px;
    line-height: 16px;
}
.bulletin-wrapper .text{
    font-size: 11px;
    color: black;
    float:left;
    line-height: 16px;

}
.bulletin-wrapper .detail{
    color: black;
    float: right;
    font-size: 11px;
    line-height: 16px;
}
.bulletin-wrapper .detail span{
    font-size: 16px;
    float: right;
    line-height: 16px;
}
/* 公告詳情內容 */
.header .bulletin-detail{
    width:100%;
    height: 100%;
    position:absolute;
    background-color: rgba(128, 128, 128, 0.658);
    top: 0;
    left: 0;
       z-index: 9;
}
.header .bulletin-detail .detail-wrapper{
    width: 80%;
    height: 70%;
    /* padding: 43px 20px 125px ; */
    margin:43px auto 100px;
    box-sizing: border-box;
}
.header .bulletin-detail .detail-wrapper .main-wrapper{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    /* 當網面拉伸時會有明顯減切效果接縫，這跟repeat有關，但同樣可以透過background-size同大同小解決 */
    border-radius: 10px;
    text-align: center;
    background-color: rgb(10, 104, 63);
}
.header .bulletin-detail .detail-wrapper .main-wrapper .detail-icon{
    width: 70px;
    height: 70px;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    margin-top: 30px;
    border: 2px solid white;
}
.header .bulletin-detail .detail-wrapper .main-wrapper .detail-name {
    font-size: 15px;
    color: white;
    margin-top: 13px;
}
/* 星星 */
.header .bulletin-detail .detail-wrapper .main-wrapper .star-score{
    height:10px;
    margin-bottom: 6px;
    text-align:center;
}
.header .bulletin-detail .detail-wrapper .main-wrapper .star-score .star{
    /* 組件裡面的star 屬性 */
    display: inline-block;
    margin-right: 7px;
}
.header .bulletin-detail .detail-wrapper .main-wrapper .star-score span {
    display: inline-block;
    font-size: 10px;
    color: white;
}

.header .bulletin-detail .detail-wrapper .main-wrapper .tip {
    font-size: 14px;
    color: #bababc;
    margin-top: 8px;
}

.header .bulletin-detail .detail-wrapper .main-wrapper .tip i {
    margin: 0 7px;
}

.header .bulletin-detail .detail-wrapper .main-wrapper .time {
    font-size: 14px;
    color: #bababc;
    margin-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid grey;
}

.header .bulletin-detail .detail-wrapper .main-wrapper .discounts {
    margin-top: 8px;
    padding: 0 20px;
}

.header .bulletin-detail .detail-wrapper .main-wrapper .discounts p {
    padding-top: 15px;
}

.header .bulletin-detail .detail-wrapper .main-wrapper .discounts img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.header .bulletin-detail .detail-wrapper .main-wrapper .discounts span {
    font-size: 14px;
    line-height: 16px;
    color: white;
}
.header .bulletin-detail .detail-wrapper .close-wrapper {
    padding-top: 20px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.header .bulletin-detail .detail-wrapper .close-wrapper span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 14px;
    color: white;
    display: inline-block;
    background: rgba(128, 128, 128, 0.479);
    border: 1px solid rgba(128, 128, 128, 0.822);
}
	/* Vue過度效果
 <transitionn  name="detail"> </transition>
 name值帶入xxx
 進入
 .xxx-enter   過度開始狀態
 .xxx-enter-to 過度结束狀態
 .xxx-enter-active  過渡時間及延遲
 
 离开
 .xxx-leave  過度開始狀態
 .xxx-leave-to 過度結束狀態
 .xxx-leave-active 過渡時間及延遲
 */

 .detail-enter-active ,.detail-leave-active{
    transition: all 0.75s ease-in-out;
 }
 .detail-enter, .detail-leave-to{
    opacity: 0;
 }
 .detail-enter-to, .detail-leave{
    opacity: 1;
 }