.shopcart-wrapper{
	width: 100%;
	height: 51px;
	background: #666666;
	position: fixed;
	left: 0;
	bottom: 0;
	display: flex;
	z-index: 99;
}
.shopcart-wrapper.highlight{
    background-color: rgb(36, 33, 32);
}
.shopcart-wrapper .content-left{
    flex:1;
}
.shopcart-wrapper .content-left .logo-wrapper{
	width: 70px;
	height: 70px;
	background: #666666;
	border-radius: 50%;
	position: relative;
	top: -34px;
	left: 20px;
	text-align: center;
	float: left;
    /* 內有兩個框框 */
}
.shopcart-wrapper .content-left .logo-wrapper.highlight{
    background-color: gold;
}
.shopcart-wrapper .content-left .logo-wrapper .num{
    /* 購物車被選取的樣式 */
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 19px;
    color: white;
    background-color: red;
    position: absolute;
    top:0;
    right:0px
}

.shopcart-wrapper .content-left .logo-wrapper span{
    font-size: 50px;
    color:white;
    line-height: 70px;
}
.shopcart-wrapper .content-left .logo-wrapper span.highlight{
    color: black;
}
.shopcart-wrapper .content-left .desc-wrapper{
    float: left;
    margin-left: 30px;
    margin-top: 6px;
}

.shopcart-wrapper .content-left .desc-wrapper .total-price{
    font-size: 20px;
    line-height: 20px;
    color: white;
}
.shopcart-wrapper .content-left .desc-wrapper .tip{
    font-size: 18px;
    color: gray;
    line-height: 30px;
}
.shopcart-wrapper .content-left .desc-wrapper .tip.highlight{
    font-size: 15px;
    line-height: 25px;
    color: gray;
}
.shopcart-wrapper .content-right{
    flex:0 0 110px;
    font-size: 20px;
	color: white;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
} 
.shopcart-wrapper .content-right.highlight{
    background-color: gold;
    color:black
}


/* 購物籃部分 */
.shopcart-wrapper .shopcart-list{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
}
.shopcart-wrapper .shopcart-list.show{
	transform: translateY(-100%);
}

.shopcart-wrapper .shopcart-list .list-top{
    /* 購物籃的活動  可刪除 */
	height: 30px;
	text-align: center;
	font-size: 11px;
	background: #f3e6c6;
	line-height: 30px;
	color: #646158;
}

.shopcart-wrapper .shopcart-list .list-header{
	height: 32px;
	background: rgb(170, 170, 170);
}
.shopcart-wrapper .shopcart-list .list-header .title{
	float: left;
	border-left: 4px solid #53c123;
	padding-left: 6px;
	line-height: 30px;
	font-size: 12px;
}
.shopcart-wrapper .shopcart-list .list-header .empty{
	float: right;
	line-height: 30px;
	margin-right: 10px;
	font-size: 0;

}
.shopcart-wrapper .shopcart-list .list-header .empty img{
	height: 14px;
	margin-right: 9px;
	vertical-align: middle;
}
.shopcart-wrapper .shopcart-list .list-header .empty span{
	font-size: 12px;
	vertical-align: middle;
}

.shopcart-wrapper .shopcart-list .list-content{
	max-height: 360px;
	overflow: hidden;
	background: white;
    width: 100%;
}
.shopcart-wrapper .shopcart-list .list-content .food{
	height: 50px;
	padding: 12px 12px 10px 12px;
	border-bottom: 1px solid #F4F4F4;
}
.shopcart-wrapper .shopcart-list .list-content .food .desc-wrapper{
	float: left;
	width: 220px;
}
.shopcart-wrapper .shopcart-list .list-content .food .cartcontrol-wrapper{
	float: right;
	margin-top: 6px;
}

.shopcart-wrapper .shopcart-list .list-content .food .desc-wrapper .desc-left{
	float: left;
	width: 130px;
}
.shopcart-wrapper .shopcart-list .list-content .food .desc-wrapper .desc-left .name{
	font-size: 16px;
	margin-bottom: 8px;


    -webkit-line-clamp: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	height: 16px;
} 
.shopcart-wrapper .shopcart-list .list-content .food .desc-wrapper .desc-left .unit{
	font-size: 12px;
	color: #B4B4B4;
}
.shopcart-wrapper .shopcart-list .list-content .food .desc-wrapper .desc-left .description{
	font-size: 12px;
	color: #B4B4B4;
		
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 12px;
}
.shopcart-wrapper .shopcart-list .list-content .food .desc-wrapper .desc-right{
	float: right;
	width: 70px;
	text-align: right;	
    margin-top: 9px;
    margin-right: 5px;
}
/* .shopcart-wrapper .shopcart-list .list-content .food .desc-wrapper .desc-right .price{
	font-size: 12px;
	line-height: 38px;
} */

.shopcart .shopcart-mask{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 98px;
	background: rgba(7,17,27,0.6);
}