/* .cartcontrol{
    font-size: 0;
} */
.cartcontrol .cart-decrease{
    display: inline-block;
	width: 26px;
	height: 26px;
	font-size: 26px;
	color: #b4b4b4;
}

.cartcontrol .cart-count{
    display: inline-block;
	width: 26px;
	height: 26px;
	font-size: 20px;
    vertical-align: top;
    margin-right: -10px;
	}
.cartcontrol .cart-add{
    display: inline-block;
	width: 26px;
	height: 26px;
	font-size: 26px;
	color: gold
}
.cartcontrol .cart-add .logo-bg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    right: 3px;
    top:3px;
    z-index: -1;
}

/* 動畫  可移除 */
.move-enter-active, .move-leave-active{
    transition:all 0.3s ease-in-out;
}
.move-enter, .move-leave-to{
    transform: translateX(20px) rotate(180deg);
}